.DS_Store
# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.perspectivev3
xcuserdata/
*.xcworkspace
xcshareddata/
*.xcuserstate

# Swift Package Manager
/.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
